<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
   


</head>
<body>
    <a href="https://www.carolinalemke.co.il/">
    <h1>CAROLINA LEMKE </h1>
    <h3>B E R L I N <h3>
    </a>
    <h2> <h2>
    <h3>Online sunglasses shop </h3>
    <h3> (Women section - click the icon) </h3>

    
    <a href="{{ url_for('product') }}"><img src= "https://icon-library.com/images/sunglasses-icon-png/sunglasses-icon-png-26.jpg"width="130px"> </a>

</a>

    
</body>
</html>