<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title> 


</head>
<body> 
    <h1>Women Sunglasses </h1>

    <p> SOO WELCOME AGAIN .. HERE YOU WILL FIND THE LATEST SUNGALASSES</p>
    
    <a href="{{ url_for('home') }}">
     Go home  </a> 
     <p> 
</p>

   <button> <a href="{{ url_for('cart') }}">Go to ur cart</a></button>

    


    <img src= "https://di2ponv0v5otw.cloudfront.net/posts/2018/11/15/5bee29a96a0bb77c75b11641/m_5bee32066a0bb7d8f8b14e51.jpg"width="270px">  


</body>
</html>